@define TotalLength: 50s;
@define TimingFunc: linear;
@define IterationCount: 1;

.AddonLoadingRoot
{
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: clip;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	pre-transform-scale2d: 1.0, 1.0;
	z-index: 2;
}

.SeqBg
{
	background-repeat: no-repeat;
	/* background-position: 50% 50%; */
	background-size: cover;

}

#seq
{
    overflow: clip;

}


#seq_muken
{

    margin-left: 0px;

}


#seq_created
{
	margin-left: 10px;
	margin-top: 20px;
	animation-name: seq_created_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_created_anim'
{
	0%
	{
		transform: translateX( -150px ) translateY( -30px );
	}

	100%
	{
	}
}

#seq_version
{
	margin-left: 5px;
	margin-top: 50px;
	animation-name: seq_version_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_version_anim'
{
	0%
	{
		transform: translateX( 100px ) translateY( 20px );
	}

	100%
	{
		transform: translateX( -50px ) translateY( -50px );
	}
}

#seq_six
{
	margin-left: 50px;
	margin-top: 20px;
	animation-name: seq_six_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	
}

@keyframes 'seq_six_anim'
{
	0%
	{
		transform: translateX( 20px ) translateY( 50px );
	}

	100%
	{
		transform: translateX( -120px ) translateY( -50px );
	}
}

