#CollectionTopButton{
  background-image: url("s2r://panorama/images/custom_game/inventory_png.vtex");
  background-size: 38px 38px;
  tooltip-position: bottom;
  visibility: collapse;
  wash-color: #cdf;
  margin-top: 4px;
}

 #FeedbackButton{
  background-size: 38px 38px;
  background-image: url("s2r://panorama/images/custom_game/tuant_png.vtex");
  tooltip-position: left;
  wash-color: #cdf;
  z-index: -10;
  margin-top: 6px;
 }

 #GitButton{
  background-size: 38px 38px;
  background-image: url("s2r://panorama/images/custom_game/github_base_png.vtex");
  tooltip-position: left;
  wash-color: #cdf;
  z-index: -10;
  horizontal-align: left;
  margin-top: 5px;
 }

 #MasteryButtonTooltip,
#MapPatreonButtonGrid,
#ItemType_Masteries,
#ItemType_Barrages,
.PlayerFortuneWrap,
#ShopFortuneButtonRoot,
.OfferFortune{






  visibility: collapse;
 }

 #GitOptions{
  width: 120px;
  flow-children: down;
  padding-top: -2px;
  background-color: #1e1e26;
  border: 1px solid #7f8aa1;
  margin: 115px 0px 0px 35px;
  transition: opacity 0.1s ease-in-out 0s;
  opacity: 0;
 }
 #GitOptions.Show{
  opacity: 1;
 }

 #GitOptions Button{
  background-color: gradient(linear, 0% 120%, 0% 0%, from(#363b46), to(#5c5d62));
  background-color: #15151d;
  width: 100%;
  padding: 2px 10px;
  margin-top: 2px;
  horizontal-align: center;
  border: 1px solid #474a6e;
  transition: background-color 0.1s ease-in-out 0s;
 }
 #GitOptions Button:hover{
  background-color: gradient(linear, 0% 120%, 0% 0%, from(#454c5a), to(#696a70));
  background-color: #272733;
 }
 #GitOptions Button:hover Label{
  color: gradient(linear, 0% 100%, 0% 0%, from(#e28a2e), to(#fcd065));
 }
 #GitOptions Label{
  horizontal-align: center;
  text-align: center;
  font-size: 14px;
  font-weight: semi-bold;
  color: gradient(linear, 0% 120%, 0% 0%, from(#ccddff), to(#e6e8ef));
  transition: color 0.1s ease-in-out 0s;
  text-shadow: black 0px 0px 2px 2;
}