.root {
  width: 100%;
  height: 22%;
}

#PointsContainer {
  width: fill-parent-flow( 1.0 );
  height: fill-parent-flow( 1.0 );
  flow-children: down;
  padding: 5px;
  background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.00, #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
  border: 2px solid white;
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #fff ), to( #586e6c) );
}

.bottom-button-container{
  width: 180px;
  height: fill-parent-flow( 1.0 );
  flow-children: down;
  horizontal-align: left;
  padding: 5px;
  margin-left: 5px;
  border-right: 1px solid #49525555;
 }

 .bottom-radio-button{
  height: 30px;
  width: 150px;
  flow-children: right;
  horizontal-align: left;
  wash-color: #99999970;
 }

 .img_selected{
  width: 22px;
  height: 22px;
  transition-property: background-image;
  background-image: url("file://{images}/custom_game/radio_button_off3.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  vertical-align: center;
 }

 .bottom-radio-button Label{

  font-size: 22px;
  padding-bottom: -5px;
  vertical-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  color: #c9c9c9;
  horizontal-align: right;
 }



 .bottom-radio-button:Selected Label{
  brightness: 2;
  wash-color: none;
  color: #e9e8e8;
 }
 
 .bottom-radio-button:Selected .img_selected{

  background-image: url("file://{images}/custom_game/radio_button_on3.png");
 }

 .divider{
  width: 100%;
  height: 1px;
  background-color: #49525555;
  margin-bottom: 15px;
 }