.slotContainer{
  width: 205px;
  height: 100%;
  vertical-align: bottom;  
  horizontal-align: left;
  z-index: -1;
  background-image: url("file://{images}/custom_game/inventory_bg_symbol3.png");
  background-color: #10171c;
}


.slot_item{
  wash-color: #828282db;
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  border-brush: gradient ( linear, 0% 0%, 50% 50%, from ( #6d6d6d ) , to ( #4d4c4f ) ) ;
  box-shadow: fill #000000cc 0px 0px 3px 1px;
  transition-property: border, border-brush;
  transition-duration: 0.5s, 0.5s;
}
.item_equipped{
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #fff ), to( #586e6c) );
 
  width: 52px;
  height: 52px;
  vertical-align: middle;
  horizontal-align: center;
  box-shadow: inset #000000cc 0px 0px 6px 2px;

}
#head{
  background-image: url("file://{images}/custom_game/slot_head.png");
  background-size: cover;
  background-position: 0px 0px;
  position: 72px 8px 0px;
}
#armo{
  background-image: url("file://{images}/custom_game/slot_armo.png");
  background-size: cover;
  position: 5px 42.5px 0px;
}
#weapon{
  background-image: url("file://{images}/custom_game/slot_weapon.png");
  background-size: cover;
  position: 139px 42.50px 0px;
}
#misc{
  background-image: url("file://{images}/custom_game/slot_misc.png");
  background-size: cover;
  position: 72px 77px 0px;
}

.item-equipped{
  wash-color: none;
}

.item-rare{
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #00a2ff ), to( #0101c0) );
  background-color: #0101c015;
}

.item-epic{
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #b700ff ), to( #8100a8) );
  background-color: #8000c015;
}

.item-legendary{
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #ffdd00 ), to( #c09301) );
  background-color: #c0930115;
}