.slotContainer{
  width: 205px;
  height: 100%;
  vertical-align: bottom;  
  horizontal-align: left;
  z-index: -1;
  background-image: url("file://{images}/custom_game/inventory_bg_symbol3.png");
  background-color: #10171c;
}


.slot_item{
  wash-color: #828282db;
  width: 58px;
  height: 58px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  border-brush: gradient ( linear, 0% 0%, 50% 50%, from ( #6d6d6d ) , to ( #4d4c4f ) ) ;
  box-shadow: fill #000000cc 0px 0px 3px 1px;
  transition-property: border, border-brush;
  transition-duration: 0.5s, 0.5s;
}
.item_equipped{
  border-radius: 50%;
  border: 1px solid #ffffff;
  border-brush: gradient ( linear, 0% 0%, 50% 50%, from ( #6d6d6d ) , to ( #4d4c4f ) ) ;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  horizontal-align: center;
  box-shadow: inset #000000cc 0px 0px 1px 6px;

}

.square-container{
  width: 70px;
  height: 70px;
  z-index: -1;
}

.item-rare{
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #00a2ff ), to( #0101c0) );
  animation-name: rare;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.item-epic{
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #b700ff ), to( #8100a8) );
  animation-name: epic;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.item-legendary{
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #ffdd00 ), to( #c09301) );
  animation-name: legendary;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#square-head{
  position: 66px 4px 0px;
}
#square-armor{
  position: 0px 36.5px 0px;
}
#square-weapon{
  position: 133px 36.5px 0px;
}
#square-misc{
  position: 66px 72px 0px;
}

.square-scene{
  width: 100%;
  height: 100%;
}
.square-panel{
  visibility: visible;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.square-hidden{
  opacity: 0;
  visibility: collapse;
}


#head{
  background-image: url("file://{images}/custom_game/slot_head_new.png");
  background-size: cover;
  background-position: 0px 0px;
  position: 72px 9px 0px;
}
#armor{
  background-image: url("file://{images}/custom_game/slot_armo_new.png");
  background-size: cover;
  position: 5px 42.5px 0px;
}
#weapon{
  background-image: url("file://{images}/custom_game/slot_weapon_new.png");
  background-size: cover;
  position: 139px 42.50px 0px;
}
#misc{
  background-image: url("file://{images}/custom_game/slot_misc_new.png");
  background-size: cover;
  position: 72px 77px 0px;
}

.item-equipped{
  wash-color: none;
}

DOTAItemImage{ 
  width: fill-parent-flow( 1.0 ); 
  height: fill-parent-flow( 1.0 );
  pre-transform-scale2d: 1;
}

.dragHover{
  opacity-mask: url("file://{images}/custom_game/slot_draghover.png");
  brightness: 1.5;
}

.itemDragOff{
  wash-color: #474747;
}

.itemDragBlock{
  wash-color: #770000;
}

.itemDragOn{
  border: 2px solid #ffffff;
  border-brush: gradient ( linear, 0% 0%, 50% 50%, from ( #6d6d6d ) , to ( #4d4c4f ) );
}




@keyframes 'rare'
{
  0% 		
  { 
    border-brush: gradient( linear, -50% 0%, 0% 100%, from( #00a2ff ), to( #0101c0) );
  }
  100%	
  { 
    border-brush: gradient( linear, -50% 0%, 0% 100%, from( #015c90 ), to( #000056) );
  }
}

@keyframes 'epic'
{
  0% 		
  { 
    border-brush: gradient( linear, -50% 0%, 0% 100%, from( #b700ff ), to( #8100a8) );
  }
  100%	
  { 
    border-brush: gradient( linear, -50% 0%, 0% 100%, from( #6b0096 ), to( #3b004d) );
  }
}

@keyframes 'legendary'
{
  0% 		
  { 
    border-brush: gradient( linear, -50% 0%, 0% 100%, from( #ffdd00 ), to( #c09301) );
  }
  100%	
  { 
    border-brush: gradient( linear, -50% 0%, 0% 100%, from( #897600 ), to( #5a4500) );
  }
}