.inventory_root {
	tooltip-position: right;
	tooltip-body-position: 100% 90%;
	tooltip-arrow-position: 100% 90%;
  width: 400px;
  height: 400px;
  visibility: visible;
  vertical-align: bottom;
  horizontal-align: right;
  margin-right: 130px;
  z-index: -3;
}

DOTAItemImage{width: 100%; height: 100%;}

.HIDE_INVENTORY_ITEMS #muken_inventory_items,
.HIDE_INVENTORY_ITEMS #BackPackLabel {
	visibility: collapse;
}

#inventory_list_container {
	flow-children: down;
	padding: 2px;
	z-index: 1;
  background-image: url("file://{images}/custom_game/inventory_bg_container1.png");
  background-size: 100%;
	border-bottom: 1px solid #000e;
	background-repeat: no-repeat;
  width: 100%;
}

.Reborn.CustomHUDSkin #inventory_list_container {
	background-color: #ffffff05;
}

.QueryUnit #inventory_list_container {
	padding: 0px;
}

.inventory_row
{
	flow-children: right;
	padding: 0px;
	width: 100%;
	height: 50px;
}

.Reborn #muken_inventory_items {
	margin-top: 0px;
	margin-bottom: 0px;
	flow-children: none;
	horizontal-align: center;
	horizontal-align: left;
  background-image: url("file://{images}/custom_game/inventory_bg.png");
  background-size: 100%;
  border: 1px solid black;
  padding: 6px;
  box-shadow: #00000066 0px 0px 8px 0px;
  background-color: #10171c;
	flow-children: down;
	vertical-align: top;
  box-shadow:  #000000cc 0px 0px 8px -1px;
}

.inventory_visibility{
  opacity: 0.9;
  transition-property: opacity, pre-transform-scale2d;
  transition-duration: 0.15s;
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
  perspective-origin: 60% 5% invert;
  perspective: 1000;
  width: 320px;
  pre-transform-scale2d: 1;
}

.Hidden{
  opacity: 0;
  pre-transform-scale2d: 0.3;
}


#InventoryContainer {
	width: 100%;
  margin-top: 2px;
}

.QueryUnit #stats {
	visibility: collapse;
}

#muken_inventory_items > #text-header{
  width: 100%;
  horizontal-align: center;
  border-bottom: 2px solid #29353b;
  margin-bottom: 2px;
}

.TitleLabel{
  font-size: 18px;
  color: #e1e1e1;
  horizontal-align: center;
  text-overflow: shrink;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 0px 1.0 #00000090;
  font-weight: semi-bold;
  text-transform: uppercase;
  font-family: titleFont;
  margin-bottom: 1px;
}

.slot{
  width: 59px;
  height: 45px;
  background-size: cover;
  overflow: noclip;
  background-color: #1a1c1d88;
  background-image: url("file://{images}/custom_game/inventory_bg_slot.png");
  background-size: 100%;
  border: 2px solid #1a1c1dc5;
  margin: 2px 0.5px 0px 1px;
  padding: 0px;
  box-shadow: inset #000000cc 0px 0px 2px;
}



#order_by {
  width: 100%;
  flow-children: right;
  margin-top: 6px;
}

#order_by Label{
  color: white;
  margin-left: 5px;
  margin-right: 2px;
  font-size: 14px;
  font-family: defaultFont;
}

.btn-radio{
  flow-children: right;
  horizontal-align: left;
  wash-color: #99999970;
  margin-left: 10px;
 }

.checkbox{
  width: 17px;
  height: 100%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
  wash-color: #0e1d2092;
  margin: 0px;
  border: 2px solid #29353b;
  brightness: 0.6;
}

.checkbox:hover
{
    wash-color: #ffffff;
}

.selected{
  wash-color: #74e9fee8;
  brightness: 2;
}

.inventory_button_root{
  width: 100%;
  height: 100%;
}

#HotkeyContainer{
  position: 0px 20px 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
 }

.Hotkey{
  z-index: 16;
  border-radius: 20%;
  width: 90px
  min-width: 6px;
  min-height: 6px;
  max-width: 10px;
  max-height: 10px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
  border: 1px solid #ffffff05;
  box-shadow: fill black 2px 1px 1px 2px;
 }

 #HotkeyText{
  color: #bba995;
  text-shadow: 1px 1px 0px 2 #000000;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  horizontal-align: center;
  margin: 0px 0px -2px 0px;
 }

 #inventory-container{
  position: 0px 22px 0px;
  height: 48px;
  width: 48px;
  padding: 2px;

 }

 .inventory-closed{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("file://{images}/custom_game/inventory_bg_button.png");
  background-size: 100%;
	background-repeat: no-repeat;
  box-shadow: inset #000000cc 1px 1px 8px 0px;
  border: 2px solid #000e;
  wash-color: #666666d5;
 }

 .inventory-opened{
  border: 2px solid #ffffff;
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( rgba(210, 190, 101, 0.751) ), to( #774e01d7) );
  wash-color: none;
 }

 .inventory-closed:hover{
  /* sound: "Config.Move"; */
 }
