@define defaultFont: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
@define monospaceNumbersFont: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
@define titleFont: Reaver,Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;

.inventory_root {
	tooltip-position: right;
	tooltip-body-position: 100% 90%;
	tooltip-arrow-position: 100% 90%;
  width: 550px;
  height: 450px;
  visibility: visible;
  vertical-align: bottom;
  horizontal-align: right;
  margin-right: 130px;
  z-index: -3;
}

DOTAItemImage{ width: fill-parent-flow( 1.0 ); height: fill-parent-flow( 1.0 );}

.Reborn.CustomHUDSkin #inventory_list_container {
	background-color: #ffffff05;
}

.Reborn #muken_inventory_items {
	margin-left: 150px;
  margin-top: 50px;
	flow-children: none;
	horizontal-align: center;
	horizontal-align: left;
  background-image: url("file://{images}/custom_game/inventory_bg.png");
  background-size: 100%;
  border: 1px solid black;
  padding: 6px;
  box-shadow:  #000000cc 0px 0px 8px -1px;
  background-color: #10171c;
	flow-children: down;
	vertical-align: top;

}

.inventory_visibility {
  opacity: 0.9;
  transition-property: opacity, pre-transform-scale2d;
  transition-duration: 0.15s;
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
  perspective-origin: 60% 5% invert;
  perspective: 1000;
  width: 331px;
  pre-transform-scale2d: 1;
}

.Hidden {
  opacity: 0;
  pre-transform-scale2d: 0.3;
}

.inventory_row {
	flow-children: right;
	padding: 0px;
	width: 100%;
	height: 48px;
}

#InventoryContainer {
	width: 100%;
  margin-top: 2px;
}

#inventory_list_container {
	flow-children: down;
	padding: 2px;
	z-index: 1;
  background-image: url("file://{images}/custom_game/inventory_bg_container1.png");
  background-size: 100%;
	border-bottom: 1px solid #000e;
	background-repeat: no-repeat;
  width: 100%;
}

#muken_inventory_items > #text-header{
  width: 100%;
  horizontal-align: center;
  border-bottom: 2px solid #29353b;
  margin-bottom: 2px;
}

.TitleLabel{
  font-size: 17px;
  color: #e1e1e1;
  horizontal-align: center;
  text-overflow: shrink;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 0px 1.0 #00000090;
  font-weight: semi-bold;
  text-transform: uppercase;
  font-family: titleFont;
  margin-bottom: 1px;
}

.slot{
  width: 60px;
  height: 45px;
  background-size: cover;
  overflow: noclip;
  background-color: #1a1c1d88;
  background-image: url("file://{images}/custom_game/inventory_bg_slot.png");
  background-size: 100%;
  border: 2px solid #1a1c1dc5;
  margin: 1px;
  box-shadow: inset #000000cc 0px 0px 2px;
}

.dragHover{
  opacity-mask: url("file://{images}/custom_game/slot_draghover.png");
  brightness: 1.5;
}

.itemDragOff{
  wash-color: #474747;
}

.itemDragBlock{
  wash-color: #770000;
}

.itemDragOn{
  border: 2px solid #ffffff;
  border-brush: gradient ( linear, 0% 0%, 50% 50%, from ( #6d6d6d ) , to ( #4d4c4f ) );
}

#order_by {
  width: 100%;
  flow-children: right;
  margin-top: 6px;
}

#order_by Label{
  color: white;
  margin-left: 5px;
  margin-right: 2px;
  font-size: 14px;
  font-family: defaultFont;
}

.btn-radio{
  flow-children: right;
  horizontal-align: left;
  wash-color: #99999970;
  margin-left: 10px;
 }

.checkbox{
  width: 17px;
  height: 100%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
  wash-color: #0e1d2092;
  margin: 0px;
  border: 2px solid #29353b;
  brightness: 0.6;
}

.checkbox:hover
{
    wash-color: #ffffff;
}

.selected{
  wash-color: #74e9fee8;
  brightness: 2;
}

.inventory_button_root{
  width: 100%;
  height: 100%;
}

#HotkeyContainer{
  position: 0px 20px 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
 }

.Hotkey{
  z-index: 16;
  border-radius: 20%;
  width: 90px;
  min-width: 6px;
  min-height: 6px;
  max-width: 10px;
  max-height: 10px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
  border: 1px solid #ffffff05;
  box-shadow: fill black 2px 1px 1px 2px;
 }

 #HotkeyText{
  color: #bba995;
  text-shadow: 1px 1px 0px 2 #000000;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  horizontal-align: center;
  margin: 0px 0px -2px 0px;
 }

 #inventory-container{
  position: 0px 22px 0px;
  height: 48px;
  width: 48px;
  padding: 2px;

 }

 .inventory-closed{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("file://{images}/custom_game/inventory_bg_button.png");
  background-size: 100%;
	background-repeat: no-repeat;
  box-shadow: inset #000000cc 1px 1px 8px 0px;
  border: 2px solid #000e;
  wash-color: #666666d5;
 }

 .inventory-opened{
  border: 2px solid #ffffff;
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( rgba(210, 190, 101, 0.751) ), to( #774e01d7) );
  wash-color: none;
 }

 .inventory-closed:hover{
  /* sound: "Config.Move"; */
 }

 #contextRoot{
  width: 100%;
  height: 100%;
  z-index: 1;
 }

 #contextContainer{
  flow-children: right;
  position: 28px 72px 0px;
  visibility: collapse;
 }

 #contextMenu{
  width: 120px;
  height: 88px;
  background-image: url("file://{images}/custom_game/ability_bg.png");
  background-size: 100%;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  padding: 4px;
  flow-children: down;
  opacity: 0.99;
 }

 .buttonContext{
  width: 100%;
  height: 26px;
  padding: 0px;
  border: 1px solid black;
  background-color: #182128;
 }

 .buttonContext:hover{
  background-color: #8ea3c922;
}

 .contextLabel{
  font-size: 14px;
  color: #acaaaa;
  horizontal-align: center;
  vertical-align: middle;
  text-overflow: shrink;
  letter-spacing: 0px;
  text-shadow: 2px 2px 0px 1.0 #00000090;
  font-family: defaultFont;
  text-align: center;
}

#arrowImg{
  vertical-align: middle;
  wash-color: #6d6d6d;
  width: 22px;
  height: 22px;
  margin-left: -4px;
}