#PathWindow{
  width: 270px;
  height: 173px;
  margin-top: 90px;
  flow-children: down;
  /* margin-right: 70px;
  margin-bottom: 95px; */
}

#ButtonContainer{
  height: 52px;
  width: 220px;
  flow-children: right;
  margin-top: 10px;
  margin-left: 25px;
}

#LabelContainer{
  height: 45px;
  width: 244px;
  flow-children: right;
  margin-left: 16px;
}

#LabelContainer Label{
  font-size: 11px;
  horizontal-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 4px 3.0 #000000;
  letter-spacing: 3px;
  text-align: center;
  horizontal-align: middle;
  vertical-align: middle;
  width: 60px;
  margin-right: 16px;
}

#PathBG {
  background-image: url("s2r://panorama/images/hud/reborn/hud_custom_ti10/ability_bg_psd.vtex");
  border-radius: 5px;
  background-size: cover;
  width: 244px;
  height: 137px;
  flow-children: down;
  box-shadow: fill 0.0px 0.0px 10.0px 1.0px #000000DE;
}

.Header {
  font-size: 15px;
  horizontal-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 4px 3.0 #000000;
  margin-top: 6px;
  margin-bottom: 2px;
  letter-spacing: 1px;
}



.ControlPanel
{
	transform: translateX( 0% ) translateY( 2px );
	transition-property: background-color, transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
	visibility: visible;
}

.ControlPanel.Minimized
{
  transform: translateX( 0% ) translateY( 200px );
}

#ControlPanelSlideThumb
{
	width: 244px;
	height: 32px;
	transform: translateX( 0% ) translateY( 0px );



}

.RightArrowButtonIcon
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	horizontal-align: center;
	background-image: url("file://{images}/custom_game/double_arrow_left.png");

	background-position: 0% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #91aba6;
	transition-property: transform, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ControlPanelSlideThumb:hover
{

}

#ControlPanelSlideThumb:hover .RightArrowButtonIcon
{

	wash-color: white;
}

.Minimized .ControlPanel .RightArrowButtonIcon
{
	transform: rotateZ(180deg);
}

.Minimized .ControlPanel #ControlPanelSlideThumb:hover .RightArrowButtonIcon
{

	wash-color: white;
}

.ControlPanel. #ControlPanelSlideThumb:hover .RightArrowButtonIcon
{
	transform: rotateZ(180deg);
	wash-color: white;
}

.Minimized .ControlPanel
{
	transform: translateX( 0px ) translateY( 114px );
}