@define monospaceNumbersFont: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
@define titleFont: Reaver,Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
@define monospaceFont: Courier New,Courier;

.root{

  tooltip-position: top;
  tooltip-body-position: 0% 50%;
  horizontal-align: left;
  margin-top: 100px;
  z-index: 55;
  margin-left: -20px;
  height: 80px;
}

.level-container{
   height: fit-children;
   width: fit-children;
   margin-left: 28px;
   margin-top: 20px;
}

.level-container:hover #LevelLabel, .level-container:hover #RankXPProgressBlur,.level-container:hover #RankXPProgress{
   brightness: 2;
}

 #LevelLabel{

  opacity-mask: url( "s2r://panorama/images/masks/vertical_gradient_small_psd.vtex").6;
     font-family: monospaceNumbersFont;
     text-shadow: 0px 0px 3px 3.7 #0e6eec24;
     color: #91dae7;
     width: 30px;
     text-align: center;
     vertical-align: bottom;
  font-size: 20px;
  horizontal-align: center;
     z-index: 50;
  margin-bottom: 12px;
  margin-right: 1px;
 }

#LevelLabel{

  opacity: 1.0;
 }

 #RankXPProgressBlur{

  blur: gaussian ( 5 );
  z-index: -1;
  opacity: .8;
 }

 #RankXPLabel{

  width: 103px;
  vertical-align: top;
     font-size: 15px;
     color: #dce0e4;
     font-weight: bold;
     text-align: center;
  text-shadow: 1px 1px 8px 4 black;
  margin-top: 5px;
  opacity: 0;
 }

 #RankXPLabel.AltPressed {

  opacity: 1.0;
 }

 #LifetimeProgress{

  width: 124px;
  height:14px;
  margin: 0px;
  opacity: 1.0;
  text-align: center;
 }

.ShowLifetimeBar #LevelLabel{

  opacity: 0;
 }


#RankXPProgressBlur,#RankXPProgress{
  visibility: visible;
 }

 #RankXPProgressBlur:hover,#RankXPProgress:hover, #LevelLabel:hover{
 brightness: 2;
}
 #LevelBackground{

  horizontal-align: center;
  margin-left: 1px;
  margin-bottom: 3px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  vertical-align: bottom;
  z-index: -1;
  visibility: visible;

  background-color: #121212;
 }

 #RankXPProgressBlur, #RankXPProgress{


  visibility: visible;
  vertical-align: bottom;
  horizontal-align: center;
  padding: 6px;
  padding-left: 6px;
     width: 54px;
     height: 54px;

  margin-bottom: 0px;

     width: 48px;
     height: 48px;
 }

 #RankXPProgressBlur_FG,#RankXPProgress_FG{


  width: 100%;
  height: 100%;
     border-radius: 50%;
     border: 2px solid #5bbadf;
     z-index: 50;
  transition-property: clip;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
 }

 #RankXPProgressBlur_BG,#RankXPProgress_BG{


  width: 100%;
  height: 100%;
     border-radius: 50%;
     border: 2px solid #393939;
     z-index: 40;
     background-color: #000000FF;
 }


 #RankXPProgressBlur_FG{

  border: 2px solid #DA6F00;
 }

 #RankXPProgressBlur_BG{

  border-color: #000000;
 }

#LifetimeProgress{
  
  vertical-align: bottom;
  horizontal-align: left;
  width: 50px;
  margin-bottom: 6px;
  height: 6px;
  transform: rotateZ( 0deg );
  border-radius: 4px;
  border: 0px;
  visibility: visible;
 }

 #LifetimeLabel{

  visibility: collapse;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  horizontal-align: left;
  vertical-align: bottom;
  color: #D5A409;
  font-weight: thin;
  text-shadow: 0px 0px 2px 2.5 #000000;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  background-color: #000e;
  padding: 0 2px;
  font-family: monospaceNumbersFont;
 }

#LifetimeProgress{
  visibility: collapse;
 }

#LifetimeProgress_Left{

      background-color: gradient( linear, 0% 0%, 0% 100%, from( #1b5eef  ), color-stop( 0.2, #0f7ce9 ), color-stop( .5, #0f8be9), to( #2d04c1 ) );
 }

#LifetimeProgress_Right{

     background-color: gradient( linear, 0% 100%, 0% 0%, from( #272f32 ), color-stop( .25, #3e4a50), color-stop( .75, #3e4a50), to( #272f32 ) );
}