.TalentTreeRoot
{
    width: 100%;
    height: 100%;
}

#TalentsWindowContainer
{
    margin-top: 150px;
    horizontal-align:right;
    width: fit-children;
    height: fit-children;
    background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229cd ), to( #001017cd ) );
    flow-children: down;
    border: 1px solid dimgray;
}

.WindowOut
{
    transform: translatex( 0px );
    transition-property: transform;
    transition-duration: 0.2s;
}

.WindowIn
{
    transform: translatex( 1200px );
    transition-property: transform;
    transition-duration: 0.2s;
}


#TalentTreeColumnsContainer
{
    width: fit-children;
    height: fit-children;
    flow-children: right;
    margin: 10px;
}

.TalentTreeColumn
{
    width: 150px;
    height: fit-children;
    flow-children: up;
    /* margin-right: 2px; */
}

.TalentTreeColumn.last
{
    margin-right: 0px;
}

.TalentTreeRow
{
    flow-children: right;
    margin-bottom: 10px;
}

.TalentTreeRow .TitleLabel
{
    color: white;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    text-shadow: 0 0 2px #0bbbda;
    horizontal-align: middle;
    vertical-align: middle;
    width: 136px;
}

.TalentContainer {
    width: 64px;
    height: 64px;
    margin-left: 5px;
    margin-right: 5px;
    /* border: 1px solid dimgray; */
    border-radius: 20%;
}

.TalentEmpty {
    width: 0px;
    height: 0px;
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 64px;
    border: 1px solid dimgray;
    border-radius: 20%;
}

.TalentContainer:hover {
    border: 1px solid white;
}

.TalentContainer.upgraded {
    border: 2px solid rgb(206, 203, 0);
}

.TalentContainer.disabled {
  /* wash-color: rgb(56, 56, 56); */
  wash-color: rgb(35, 35, 35);
}

.TalentContainer.hidden {
  opacity: 0.2;
}

.TalentContainer #TalentImage {
    width: fill-parent-flow(1.0);
    height: fill-parent-flow(1.0);
}

.TalentContainer #TalentLevel {
    width: fill-parent-flow(1.0);
    font-size: 16px;
    color: white;
    background-color: #000000F0;
    text-align: center;
    text-overflow: shrink;
    vertical-align: bottom;
}

.Button
{
    width: fit-children;
    height: fit-children;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
    wash-color: #74EAFE66;
    horizontal-align:center;
    vertical-align: center;
    margin: 10px;
}

.Button:hover
{
    wash-color: #ffffff;
}

.Button Label
{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

#CurrentTalentPoints {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    horizontal-align:center;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    text-shadow: 0 0 3px #0bbbda;
}

#TalentTreeWindowButton {
    horizontal-align: right;
    vertical-align: top;
    margin-bottom: 	5px;

	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 24px;
	color: white;
    width: 200px;
	height: 50px;
	margin-top: 50px;
    box-shadow: 0px 0px 15px -3px #000000;
    border-radius: 8px;
    background-image: url("file://{images}/custom_game/hero_bar_talent_tree.png");
    

}

#TalentTreeWindowButton:active
{
  width: 195px;
}

#TalentTreeWindowButton Label
{
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 24px;
	color: white;
    text-align: center;
    vertical-align: middle;
    horizontal-align: middle;
    margin-top: 1px;
}

#TalentTreeWindowButton:hover
{
  wash-color: #b0b0b0;
}

.Animate
{
	animation-name: light;
	animation-duration: 0.7s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}
@keyframes 'light'
{
	0% 		
	{ 
		opacity: 1.2; 
	}
	100%	
	{ 
		opacity: 0.1; 
	}
}

.hide
{
	visibility: collapse;
}

#TalentTreeWindowButtonActiveImage
{
	width: 100%;
	height: 100%;
	
    background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( .5, #aca91196 ), to( #c4c70ab2 ) );
	background-size: 100% 100%;
	background-repeat: no-repeat;
}